body {
	font-family: 'Roboto', sans-serif;
	_font-size: 16px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
    /*image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;  */
}
.padding-10 {
	padding-left: 10px;
	padding-right: 10px;
}
.padding-3 {
	padding-left: 3px;
	padding-right: 3px;
}
.padding-5 {
	padding-left: 5px;
	padding-right: 5px;
}
.padding-9 {
	padding-left: 9px;
	padding-right: 9px;
}
.padding-7 {
	padding-left: 7px;
	padding-right: 7px;
}
.padding-8 {
	padding-left: 8px;
	padding-right: 8px;
}
.no-padding {
	padding: 0;
}
.no-padding-l {
	padding-left: 0;
}
.no-padding-r {
	padding-right: 0;
}
.text-center {
	text-align: center;
}
.img-center {
	margin: auto;
}
.img-full img {
	width: 100%;
}
.col-center {
	float: none;
	margin: auto;
}
.opacity {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
}
.opacity:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.80;
}
.unopacity {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.80;
	transition: opacity 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
}
.unopacity:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.vertical-align-text-wrap {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
}
.vertical-align-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.clearfix {
	clear: both;
}

.top-bar {
    padding-top: 2.2%;
    padding-bottom: 2.2%;
    padding-left: 1%;
}
.bottom-bar {
    color: #3c3c3c;
}
.bottom-bar h2 {
    font-weight: 300;
}
.bottom-bar p {
    font-weight: 400;
    margin-bottom: 25px;
}
.btn-primary {
    font-weight: 300;
    border-radius: 0;
    border: 0;
    background-color: #fcb813;
    color: #3c3c3c;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    background-color: #fdc743;
    color: #3c3c3c;
}
.bottom-bar p.grey-small {
    color: #b5b5b5;
}


@media screen and (max-width: 480px) {
    .top-bar {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .top-bar img {
        width: 18px;
    }
    .bottom-bar {
        padding-left: 6.5%;
        padding-right: 6.5%;
        padding-top: 1.8%;
        padding-bottom: 8%;
    }
    .bottom-bar h2 {
        font-size: 19px;
        font-size: 6vw;
        margin-bottom: 15px;
    }
    .bottom-bar p, .bottom-bar ul li {
        font-size: 14px;
        font-size: 4.4vw;
        line-height: 130%;
    }
    .bottom-bar p {
        margin-bottom: 15px;
    }
    .bottom-bar ul {
        margin-bottom: 15px;
        padding-left: 25px;
    }
    .btn-primary {
        font-size: 16px;
        font-size: 5vw;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 20px;
    }
    .btn-primary-2 {
        padding-left: 15%;
        padding-right: 15%;
    }
    .bottom-bar p.grey-small {
        font-size: 13px;
        font-size: 4vw;
        margin-bottom: 35px;
        margin-top: 30px;
    }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .top-bar {
        padding-left: 1%;
        padding-top: 2.2%;
        padding-bottom: 2.2%;
    }
    .bottom-bar {
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 1.8%;
        padding-bottom: 6%;
    }
    .index-2 .bottom-bar {
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 3%;
        padding-bottom: 8%;
    }
    .index-2 h2 {
        margin-top: 30px;
        margin-bottom: 35px;
    }
    .bottom-bar h2 {
        font-size: 38px;
        font-size: 5vw;
    }
    .bottom-bar p, .bottom-bar ul li {
        font-size: 24px;
        font-size: 3vw;
        line-height: 130%;
    }
    .bottom-bar ul {
        margin-bottom: 25px;
        padding-left: 25px;
    }
    .btn-primary {
        font-size: 28px;
        font-size: 3.2vw;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 30px;
    }
    .btn-primary-2 {
        padding-left: 15%;
        padding-right: 15%;
    }
    .bottom-bar p.grey-small {
        font-size: 22px;
        font-size: 2.8vw;
        margin-bottom: 45px;
        margin-top: 45px;
    }
}
@media screen and (max-width: 767px) {

}
@media screen and (min-width: 768px) and (max-width: 991px) {

}
@media screen and (max-width: 991px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 992px) and (max-width: 1199px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (min-width: 1200px) {

}
